@model IEnumerable<PlayAreas>
<script scr="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h2>Airport Play Areas</h2>

<script>
    $(document).ready(function(){
        $('.sortable').on('click', function () {
            var table = $('#myTable');
            var rows = table.find('tbody > tr').toArray().sort(compareNames);
            var dir = $(this).data('dir');

            if (dir === 'asc') {
                rows.reverse();
                $(this).data('dir', 'desc');
            } else{
                $(this).data('dir', 'asc');
            }

            &.each(rows, function (index, row) {
                table.children('tbody').append(row);
            })
        })

        function compareNames(a,b) {
            var airportNameA = $(a).find('td:eq(0)').text().toLowerCase();
            var airportNameB = $(b).find('td:eq(0)').text().toLowerCase();
            return airportNameA.localCompare(airportNameB);
        }
    })
</script>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th class="sortable" data-dir="asc">Sort Airports By Name</th>
            <th>IATA Code</th>
            <th>Play Area Location</th>
            <th>Website</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var playArea in Model)
        {
            <tr>
                <td>@playArea.AirportName</td>
                <td>@playArea.IATACode</td>
                <td>@playArea.Location</td>
                <td><button type="button" onclick="window.open('@playArea.Website', '_blank')" class="btn btn-outline-primary custom-btn">Visit Website</button></td>            </tr>
        }
    </tbody>
</table>
