@model AddAirportView

@*<body class="background">

</body>*@
<h2>Add an Airport</h2>


       @*  // $(document).ready(function () {
        //     $("#addLactationArea").click(function () {
        //         var newLactationArea = $(".lactation-area:first").clone();
        //         newLactationArea.find('input').val('');
        //         $("#lactationAreas").append(newLactationArea);
        //     });

        //     $("#addPlayArea").click(function () {
        //         var newPlayArea = $(".play-area:first").clone();
        //         newPlayArea.find('input').val('');
        //         $("#playAreas").append(newPlayArea);
        //     });
        // }); *@
     
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            let lactationIndex = 0;
            let playIndex = 0;

            $("#addLactationArea").click(function () {
                lactationIndex++;
                var newLactationArea = $(".lactation-area:first").clone();
                newLactationArea.find('input').val('');
                newLactationArea.find('label[for]').each(function () {
                    var htmlFor = $(this).attr('for');
                    $(this).attr('for', htmlFor.replace('[0]', '[' + lactationIndex + ']'));
                });
                $("#lactationAreas").append(newLactationArea);
            });

            $("#addPlayArea").click(function () {
                playIndex++;
                var newPlayArea = $(".play-area:first").clone();
                newPlayArea.find('input').val('');
                newPlayArea.find('label[for]').each(function () {
                    var htmlFor = $(this).attr('for');
                    $(this).attr('for', htmlFor.replace('[0]', '[' + playIndex + ']'));
                });
                $("#playAreas").append(newPlayArea);
            });
        });
</script>



  

@using (Html.BeginForm("AddAirportToDatabase", "Airport", FormMethod.Post))
{
    <div class="form-group">
         <input asp-for="Airport.AirportID" type="hidden" value="" /> 

        <label asp-for="AirportName" class="control-label">Name of Airport</label>
        <input type="text" asp-for="AirportName" class="form-control" value=""/>
        <span asp-validation-for="AirportName" class="text-danger"></span>

        <br/>
        <label asp-for="AirportCode" class="control-label">Three Letter Airport Identifier</label>
        <input type="text" asp-for="AirportCode" class="form-control" value=""/>
        <span asp-validation-for="AirportCode" class="text-danger"></span>
        <br/>
        <label asp-for="State" class="control-label">State</label>
        <input type="text" asp-for="State" class="form-control" value="" />

        <label asp-for="Website" class="control-label">Airport Website</label>
        <input type="text" asp-for="Website" class="form-control"  value=""/>
       
    </div>

    <div class="form-group">
        <h4>Nursing Facilities</h4>
        <div id="lactationAreas">
            @*    @for (int i = 0; i < Model.LactationAreas.Count; i++) *@
               
                    <div class="lactation-area">
                       @* <input asp-for="LactationArea.LactationAreaID" type="hidden" value=""/>  *@

                        <label asp-for="LactationArea.Terminal"  class="control-label">Terminal</label>
                        <input type="text"  asp-for="LactationArea.Terminal" class="form-control" value=""/>

                        <label asp-for="LactationArea.Gate"  class="control-label">Gate or Location Details</label>
                        <input type="text" asp-for="LactationArea.Gate" class="form-control" value=""/>

                        <label asp-for = "LactationArea.Description"  class="control-label">Name of Nursing Facility or Description</label>
                        <input type="text" asp-for="LactationArea.Description" class="form-control" value=""/>
                    </div>               
               
    </div>
    <button type="button"  id="addLactationArea" class="btn btn-outline-primary custom-btn">Add Another Lactation Area</button>
    </div>

    <div class="form-group">
        <h4>Play Areas</h4>
        <div id="playAreas">
            @for (int i = 0; i < Model.PlayAreas.Count; i++)
            {
                    <div class = "play-area">
                       @* <input asp-for="PlayArea.PlayAreaID" type="hidden" value=""/>  *@

                        <label asp-for = "PlayAreas[i].Terminal" class="control-label">Terminal</label>
                        <input type="text"  asp-for="PlayAreas[i].Terminal" class="form-control" value="" />

                        <label asp-for = "PlayAreas[i].Gate"  class="control-label">Gate or Location Details</label>
                        <input type="text"  asp-for="PlayAreas[i].Gate" class="form-control" value="" />

                        <label asp-for = "PlayAreas[i].Description" class="control-label">Name of Play Area or Description</label>
                        <input type="text"  asp-for="PlayAreas[i].Description" class="form-control" value="" />
                    </div>                
            }
    </div>
    <button type="button" id="addPlayArea" class="btn btn-outline-primary custom-btn">Add Another Play Area</button>
    </div>

    <br />
    <button type="submit" name="action" value="Submit" class="btn btn-outline-primary custom-btn">Submit</button>









}
